# Enable build:{linux,mac} directives in the rc file
common --enable_platform_specific_config

# Enable Bzlmod for every Bazel command.
common --enable_bzlmod

# Disable the automatic creation of `__init__.py` files, as it prevents the use
# of namespace packages during build time. In particular, it blocks the use of
# 'import arolla.*' for both //arolla and //py/arolla.
#
# The expectation is that this will eventually become the default behavior:
#     https://github.com/bazelbuild/bazel/issues/7386#issuecomment-1806973756
build --incompatible_default_to_explicit_init_py

# The shared-library compilation is necessary for the Arolla Python API,
# so we enable it by default.
#
# The AROLLA_SHARED_COMPILATION macro is described in //arolla/util/api.h.
build --cxxopt=-DAROLLA_SHARED_COMPILATION

# Enable modern C++ features
build:linux --cxxopt=-std=gnu++20
build:linux --host_cxxopt=-std=gnu++20
build:macos --cxxopt=-std=gnu++20
build:macos --host_cxxopt=-std=gnu++20

# Set the minimum compatible version of macOS (consider consulting
# https://endoflife.date/macos for versions of macOS that are currently
# maintained).
build:macos --macos_minimum_os=12.0
